body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

#computer-cards img {
    height: 170px ;
    width: 100px;
    margin: 5px;
    
}

#user-cards img {
    height: 170px ;
    width: 100px;
    margin: 5px;
    
}

#End-Turn {
    width: 100px;
    height: 50px;
    font-size:20px;
}

#compare-zone {
    height: 450px;
    Width: 300px;
    margin:auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#message {
    height: 100px;
    width:100px;
    border:2px solid black;
}

#compare-zone > img {
    height: 100px;
    Width:100px;
}

#Reset {
    width: 100px;
    height: 50px;
    font-size:20px;
}